.nav-bar{
    text-align:center;
    padding: 10px;
}

a:link{
    color:blue;
    text-decoration:none;
    background-color: transparent;
}

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

  #Donaciones{
      text-align: center;
       color: yellow;
  }

  #Ayuda{
    text-align:center;
    color: black;
    padding: 15px;
  }

  .topnav a:hover {
    border-bottom: 3px solid red;
}

.responsive {
  max-width: 100%;
  width: auto;
  height: 200px;
}

.responsive2 {
  max-width: 100%;
  width: auto;
  height: 350px;
}

.responsive3 {
  max-width: 110%;
  width: 600px;
  height: 300px;
}

#dona {
  text-align: center;
}

div.a {
  line-height: 250%;
}

#floaty{
  vertical-align: text-bottom;
  width: 25px;
  height: 26px;
}

